{% extends 'accueil.html' %}
 {% block accueil %} <a class="nav-link " href="{% url 'Backend:home' %}"><i class="fas fa-home"></i> Accueil</a>{% endblock %}

{% block entete %}
                    <h5 class="mb-0">Gerer la  {{ session.tontine }} de {{ session.tontine.association }}</h5>
                    {% endblock %}
<div style="width: 30px; height: 60px; position: relative; right: 20px; top: 15px">
    {% if messages %}
    <div id="notification">
        {% for message in messages %}
            <div class="alert 
                        {% if message.tags == 'success' %}
                            alert-success
                        {% elif message.tags == 'warning' %}
                            alert-warning
                        {% elif message.tags == 'error' %}
                            alert-danger
                        {% else %}
                            alert-info
                        {% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>
{% block tontine %}
                        <a class="nav-link " href="{% url 'Backend:CreateTontine' %}">
                            <i class="fas fa-hand-holding-usd"></i>
                           Gerer Tontines
                        </a>
{% endblock %}
  {% block consulter %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'Backend:concultation_tontine' %}">
                            <i class="fas fa-cog"></i>
                             voir cotisations
                        </a>
                    </li>
                    {% endblock %}
{% block remplir %}
    
                                    <a href="{% url 'Backend:retournerSession' tontine_id=session.tontine_id %}" class="btn btn-secondary">
                                        <i class="fas fa-arrow-left"></i> Retour
                                    </a>
    
    <div class="container py-5">
        <!-- En-tête principal -->

    {% if session %}
        <div class="alert alert-info">
            <strong>Session :</strong> {{ session.intitule }} de la tontine {{ session.tontine }} de {{ session.tontine.association }}
        </div>
        {% endif %}


        <!-- Cards des rôles -->
        <div class="row" style="z-index: 1">
         {% if parametrages %}
            <!-- Exemple de carte - Répéter pour chaque rôle -->
            {% for parametrage  in parametrages %}
            <div class="col-lg-6 col-xl-4">
                <div class="role-card">
                    <div class="role-header">
                        <h2 class="role-title">
                            Periode {{ parametrage.periode }}
                        </h2>
                    </div>

                    <div class="role-body">
                        <div class="role-description">
                           Debut :   {{ parametrage.dateDebut }} <br> <br> Fin : {{ parametrage.dateFin }}
                            <br><br> Montant : {{ parametrage.montant }} FCFA
                            <br><br> Cotisation : {{ parametrage.jourCotisation }}
                        </div>
                    <div class="role-description">
                      Membre :  {{ parametrage.membre.count }}
                        </div>
                    
                    
                        <div class="actions-section">
                        <a href="{% url 'Backend:retournerCotisation' parametrage.id %}" style="text-decoration:none">

                            <button class="btn btn-modern btn-edit" >
                                <i class="fas fa-edit"></i>
                                Voir les Cotisations
                            </button>
                        </a>
                            {% if parametrage.typeTirage == 'aleatoire' %}
                            <a href="{% url 'Backend:listeTirageAutomatique' parametrage.id %}"
                                                   class="btn btn-sm btn-success"
                                                   title="Effectuer le tirage" style="padding:5px; width:100%;">
                                                    <i class="fas fa-dice"></i> Tirage
                            </a>
                                {% else %}
                                <a href="{% url 'Backend:listeTirageManuelle' parametrage.id %}"
                                                   class="btn btn-sm btn-success"
                                                   title="Effectuer le tirage" style="padding:5px; width:100%;">
                                                    <i class="fas fa-dice"></i> Tirage
                            </a>
                           {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
             
             {% else %}
             
        {% endif %}
        </div>
    </div>
    
{% endblock %}