{% extends 'accueil.html' %}
{% block accueil %}
                        <a class="nav-link" href="{% url 'Backend:home' %}">
                            <i class="fas fa-home"></i>
                            Accueil
                        </a>
   {% endblock %}

{% block remplir %}




<div class="container mt-5">
    <div class="card shadow-lg rounded-4 border-0">
        <div class="card-header bg-primary text-white rounded-top-4">
            <h4 class="mb-0 text-center">Modification Association</h4>
        </div>
        <div class="card-body p-4">
            <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
                {{ form.as_p }}

                <!-- Bouton -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-success btn-lg shadow-sm">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}